
@{
    Layout = null;
    ViewData["Title"] = "Rey Endpoint";
}

<html>

<head>
    <meta charset="utf-8" />
    <title>Rey Endpoint</title>
    <meta name="description" content="administration home">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <style type="text/css">

    </style>
</head>

<body style="background:white">

    <table style="width:100%" border="0">
        <tr>
            <td id="logo-container"
                class="text-center"
                style="border:none;vertical-align:middle">

                <span class="text-dark-50" style="font-size:50px;display:none">
                    Hello, @ViewData["Message"]
                </span>

            </td>
        </tr>
    </table>

</body>

</html>